.container {
    max-width: 320px;
  padding-left: 16px;
  padding-right: 16px;
  margin: 0 auto;
  

 @media screen and (min-width: 768px) {
  
    max-width: 768px; 
}

 @media screen and (min-width: 1158px) {
    max-width: 1158px;
        padding-top: 15px;
        padding-bottom: 15px; 
}
}


