.section {
    padding-top: 120px;
    padding-bottom: 120px;
}

.section-title {
        font-weight: 700;
font-size: 36px;
line-height: 1.11;
text-align: center;
 margin-bottom: 8px;
 text-transform: capitalize;
  color: #2e2f42;
}